.hide{
  display: none;
}
input[type='text'] {
	width: 75%;
}
table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;

}
table th,
table td {
  padding: 0.50rem;
  vertical-align: top;
  border-bottom: 1px solid #dee2e6;
	text-align: left;
}

/*
table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
} */
